Table of Contents:  
1. Import data.
2. Mixed data types.
3. Missing values.
4. Addressing missing values.
5. Duplicates.
6. Consistency checks - df_ords dataframe.
7. Observations from df_ords.describe().
8. Missing values in the df_ords dataframe.
9. Duplicates.  
10. Export cleaned files.

1. Import data

In [1]:
# Import libraries
import pandas as pd
import os

In [2]:
# Set path
path = r'/Users/samlisik/Documents/Instacart Basket Analysis'

In [3]:
# Import data sets
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'))
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'))

In [4]:
# Descriptive analysis
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [5]:
# Create a test dataframe
df_test = pd.DataFrame()

In [6]:
# Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

2. Mixed data types

In [12]:
# Check for mixed types
for col in df_test.columns.tolist():
    weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_test[weird]) > 0:
        print(col)

mix

/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/1204884615.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis=1)

In [14]:
# Convert the column's data type from numeric to string
df_test['mix'] = df_test['mix'].astype('str')

3. Missing values

In [15]:
# Find missing values in df_prods
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [18]:
# Create a subset (df_nan) containing only those values within the "product_name" column that meet the condition isnull() = True
df_nan = df_prods[df_prods['product_name'].isnull() == True]

In [19]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

4. Addressing missing values

In [30]:
df_prods.shape

(49693, 5)

In [31]:
# Create a new dataframe called df_prods_clean (with non-missing values)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [32]:
df_prods_clean.shape

(49677, 5)

5. Duplicates

In [33]:
# Look for full duplicates in the dataframe
df_dups = df_prods_clean [df_prods_clean.duplicated()]

In [34]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [35]:
df_prods_clean.shape

(49677, 5)

In [37]:
# Create a new dataframe that doesn't include the identified duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [38]:
df_prods_clean_no_dups.shape

(49672, 5)

6. Consistency checks - df_ords dataframe

In [39]:
# Perform basic descriptive statistics on df_ords to inspect numeric columns
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

7. Observations from df_ords.describe():
- `order_id`: Unique values for all orders — no issues.  
- `user_id`: Ranges from 1 to 206,209 — reasonable.  
- `order_number`: Ranges from 1 to 100; some users have placed many orders.  
- `orders_day_of_week`: Values 0–6, representing days of the week — consistent.  
- `order_hour_of_day`: Values 0–23, representing hours of the day — consistent.  
- `days_since_last_order`: Ranges 0–31; some extreme gaps between orders, which may be worth further investigation.

In [40]:
# Check for mixed-type data in the df_ords dataframe
for col in df_ords.columns.tolist():
    weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
    if len(df_ords[weird]) > 0:
        print(col)

/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)
/var/folders/5l/4z238bkd4z37bh39shftnbwm0000gn/T/ipykernel_15209/2215837053.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis=1)

In [41]:
# Command rewritten - DataFrame.applymap() is now deprecated in pandas
for col in df_ords.columns.tolist():
    weird = (df_ords[col].map(type) != type(df_ords[col].iloc[0]))
    if weird.any():
        print(col)

order_id
user_id
order_number
orders_day_of_week
order_hour_of_day
days_since_last_order

In [42]:
# Double-check data types
df_ords.dtypes

order_id                   int64
user_id                    int64
eval_set                  object
order_number               int64
orders_day_of_week         int64
order_hour_of_day          int64
days_since_last_order    float64
dtype: object

There are no mixed-type columns in df_ords.

8. Missing values in the df_ords dataframe

In [43]:
df_ords.isnull().sum()

order_id                      0
user_id                       0
eval_set                      0
order_number                  0
orders_day_of_week            0
order_hour_of_day             0
days_since_last_order    206209
dtype: int64

Findings:
Only one column has missing values: days_since_last_order → 206,209 missing values
All other columns (order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day) have 0 missing values.

Explanation:
'days_since_last_order' measures the number of days since a user’s previous order.

For a user’s first order, there is no previous order, so this value is naturally missing (NaN).

This is expected behaviour and not a data quality issue.

9. Duplicates

In [45]:
# Create a new dataframe containing only the duplicate rows
df_ords_dups = df_ords[df_ords.duplicated()]

# View the duplicate rows
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_last_order]
Index: []

After creating a subset of duplicate rows using df_ords, no duplicate rows were found in the dataframe. This indicates that each order in the dataset is unique, so no further action is needed for duplicates.

In [46]:
df_ords.shape

(3421083, 7)

10. Export cleaned files

In [51]:
# Export cleaned products dataframe
df_prods_clean.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), index=False)

# Export cleaned orders dataframe
df_ords.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index=False)