Table of Contents:  
1. Import libraries and data.
2. Check the size of both dataframes.
3. Merge dataframes.
4. Create a new dataframe 'df_merged_large' that contains the combined df_ords and df_ords_prior dataframes and uses the “order_id” column as its key.
5. Export data.

1. Import libraries and data

In [1]:
# Import libraries
import pandas as pd
import os

In [2]:
# Define path:
path = r'/Users/samlisik/Documents/Instacart Basket Analysis'

In [7]:
# Import the orders_products_prior dataset
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'))

In [12]:
# Import the most up_to_date orders dataset
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'))

In [8]:
# Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

2. Check the size of both dataframes

In [18]:
df_ords_prior.shape

(32434489, 4)

In [19]:
df_ords.shape

(3421083, 7)

3. Merge dataframes

In [13]:
# Merge df_ords_prior with df_ords
df_merged = df_ords.merge(df_ords_prior, on='order_id', indicator=True)

In [16]:
df_merged

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

4. Create a new dataframe 'df_merged_large' that contains the combined df_ords and df_ords_prior dataframes and uses the “order_id” column as its key

In [20]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [21]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [23]:
# Check for full match
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

5. Export data

In [27]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))