Table of Contents:  
1. Import libraries and orders_products_combined dataframe.  
2. Combine the orders_products_combined and the products_clean dataframes.  
3. Export the newly created dataframe.

1. Import libraries and orders_products_combined dataframe

In [1]:
# Import libraries
import pandas as pd
import os

In [2]:
# Define path:
path = r'/Users/samlisik/Documents/Instacart Basket Analysis'

In [4]:
# Import the orders_products_combined dataframe
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
# Check the shape of the imported dataframe
df_ords_prods_combined.shape

(32434489, 11)

2. Combine the orders_products_combined and the products_clean dataframes

In [6]:
# Import cleaned products dataset
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'))

In [7]:
# Merge orders_products_combined with products_clean on 'product_id'
df_ords_prods_merged = pd.merge(df_ords_prods_combined, df_prods, on='product_id', how='left')

In [11]:
# Check shape
df_ords_prods_merged.shape

(32436241, 15)

In [12]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77.0,7.0,9.0
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,12.5
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23.0,19.0,4.4
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23.0,19.0,4.7
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,1.0

In [9]:
# Confirm the results using the merge flag
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32436241
left_only            0
right_only           0
Name: count, dtype: int64

3. Export the newly created dataframe

In [13]:
# Export the merged dataframe as a Pickle file (due to size)
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))